<ul class="unlist">
{{#items}}
    {{#divider}}
        <li><div class="column">========</div></li>
    {{/divider}}
    <li><div class="column"><a href="{{{url}}}" alt="{{name}}">{{name}}</a></div></li>
{{/items}}
</ul>